.header {
    width: 100vw;
    background-color: rgb(65, 70, 90);
    padding: 10px;
}
.link {
    /* color: bisque; */
    margin: 10px;
    font-size: 30px;
}
.link:hover,
.link:focus {
    color: rgb(211, 150, 150);
}
/* :active {
    color: red;
} */